.dashboard-container {
  margin-left: 60px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  margin-top: 20px;
}

.easily{
    color:#7E8299;
    font-size: 10px;
}

.reports{
    font-weight: bolder;
}

select {
  font-size: 1.5rem;
  padding: 5px 25px 5px 5px;
  background: #1bc5bd;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
}

.custom-select {
  position: relative;
  width: 140px;
}

.custom-arrow {
  display: block;
  background: #1bc5bd;
  width: 15px;
  position: absolute;
  top: 0;
  right: 0;
  height: 82%;
  border-radius: 5px;
  pointer-events: none;
}

.custom-arrow::before,
.custom-arrow::after {
  --size: 6px;
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  top: 45%;
  right: 45%;
}

.custom-arrow::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid white;
}

input[type="date"]{
    background: #1bc5bd;
    padding: 5px;
    border:none;
    color: white;
    border-radius: 5px; 
}

.date-form{
    color: #005B96;
    font-weight: bolder;
    margin:10px;
    font-size: 10px;
}
::-webkit-calendar-picker-indicator{
    cursor: pointer; 
    color: white;
}

.generate-report{
    background: #005B96;
    border-radius: 5px;
    padding: 3px;
    color: white;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
}

.dashboard-inner{
    display:flex;
}

.d-margin-right{
    margin-right:20px;
}






